@font-face {
  font-family: "Yekan";
  src: url("../fonts/IRANYekanRDMobile.ttf");
}

html {
  font-family: "Yekan", sans-serif !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  padding: 30px 0;
}

.logo {
  max-width: 45px;
  max-height: 45px;
}

.round {
  border-radius: 500rem;
}

.jumbotron {
  height: 80vh;
  background-color: #ffffff;
}

.jumbotron h2 {
  margin-top: 70px;
  line-height: 2;
}

.home-seesaw {
  max-width: 90vw;
}

.content-image {
  /* max-height: 300px; */
}

.story-section {
  /* border: 1px solid red; */
  min-height: 100vh;
  padding-top: 45px;
  padding-bottom: 45px;
}

.story-section p {
  font-size: 21px;
}

.navbar {
  background-color: #e7ffef !important;
}

.navbar-brand span {
  padding-right: 20px;
  padding-left: 25px;
  margin-bottom: 0px;
}

.dropdown-menu {
  background-color: #D0D7CF;
}

footer {
  background-color: #e7ffef;
}

footer img {
  max-width: 50px;
  max-height: 50px;
}


.post {
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 18px;
  color: #6c757d;
}

.post figure {
  margin-top: 60px;
  margin-bottom: 30px;
}

.post figcaption {
  text-align: center;
  /* padding: 15px 0; */
  margin-top: -30px;
  color: grey;
}

.post-title {
  margin-bottom: 50px;
}

.instagram-media {
  direction: ltr;
  margin: 0 auto !important;
}

.post blockquote {
  margin: 15px auto;
  padding: 1em;
  border-right: 5px solid #999;
  background-color: #f8f8f8;
}
.post blockquote:before {
  display: none;
}
.post blockquote:not(:first-of-type) {
  margin-top: .5em;
}
.post blockquote p {
  color: #555;
  font-size: 12pt;
  line-height: 1.4;
}