@font-face {
  font-family: "Yekan";
  src: url("../fonts/IRANYekanRDMobile.ttf");
}

html {
  font-family: "Yekan", sans-serif !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* direction: rtl;
  text-align: right; */
}

.instagram * {
  direction: ltr;
  text-align: center;
}

footer {
  padding: 30px 0;
}

.round {
  border-radius: 500rem;
}

.jumbotron {
  height: 70vh;
}